asttokens
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
setuptools
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
wcwidth
xgboost
zope.interface
